<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/c-photo.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <header class="header">
        <button onclick="history.back()" class="back-button"><img src="/images/voltar.svg" alt=""></button>
        <section><img src="/images/Logo (370 x 65 px).png" alt="logo" class="logo"></section>
    </header>

    <main>
        <section class="esquerda">
            <h2>CURSO ONLINE DE</h2>
            <h1>PHOTOSHOP PROFISSIONAL</h1>
            <p class="curso">Aprenda a usar o Adobe Photoshop como um verdadeiro profissional e transforme suas ideias em criações visuais de alto impacto! Este curso foi desenvolvido para quem deseja dominar as ferramentas e técnicas avançadas do Photoshop, seja para edição de imagens, design gráfico ou produção de conteúdo digital.</p>
            <p class="aprender">O QUE VOU APRENDER?</p>
            <section class="reviews">
                <h3>PRINCIPAIS AVALIAÇÕES</h3>
                <p class="cam"><span class="stars">★★★★★</span><br>Esse curso é incrível! As aulas são super detalhadas, e eu aprendi técnicas avançadas que já estou usando no meu trabalho de design. O professor explica de forma clara, e os projetos práticos ajudam muito a fixar o aprendizado. Recomendo para quem quer realmente se aprofundar no Photoshop!</p>
                <strong class="nome">CAMILA T.</strong>

                <p class="rapha"><span class="stars">★★★★★</span><br>Sem dúvidas, o melhor curso de Photoshop que já fiz! Além de ensinar o básico, o conteúdo avança para técnicas profissionais, como manipulação de imagens e automação com ações. Já apliquei o que aprendi em campanhas publicitárias e recebi ótimos feedbacks dos meus clientes. Vale cada segundo!</p>
                <strong class="nome">RAPHAEL M.</strong>
            </section>
        </section>

        <section class="direita">
            <p class="estrelas">5 ★★★★★</p>
            <img src="/images/photo.svg" alt="Imagem ilustrativa do curso">
            <section class="container">
                <section class="linha-info">
                    <p class="bold">FEITO POR:</p> <p class="reg">Professor1</p>
                </section>
                <section class="linha-info">
                    <p class="bold">DURAÇÃO:</p> <p class="reg">8 Meses</p>
                </section>
                <section class="linha-info">
                    <p class="bold">VALOR:</p> <p class="reg">R$728,90</p>
                </section>
                <a href="/planos" class="matricula">MATRICULAR-SE</a>
            </section>
        </section>
    </main>
</body>
</html>