@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #684a43;
  --second-color: #BFAC95;
}

body {
  overflow-x: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
}

main {
  height: auto;
  display: flex;
  width: 60%;
  flex-direction: column;
  padding-top: 7rem;
}

.meuscursos-text {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 350;
  font-style: italic;
  font-size: 1em;
  color: #000000;
  padding: 4rem;
  align-self: center;
  max-width: 50%;
  text-align: center;
}

.meuscursos {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 5rem;
  gap: 0.5em;
}

.meuscursos  h1 {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 900;
  font-size: 1.6em;
  text-transform: uppercase;
  color: var(--primary-color);
  padding-bottom: 2em;
}

.cursos {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.download-section {
  font-family: Fira Sans;
  font-weight: 500;
  font-style: italic;
  font-size: 24px;
  line-height: 7.2px;
  letter-spacing: 0%;
  color: #000000;
}

.cursos p {
  font-family: Fira Sans;
  font-weight: 500;
  font-style: italic;
  font-size: 1em;
  line-height: 7.2px;
  letter-spacing: 0%;
  color: #000000;
  padding: 0px 5rem;
}

main a {
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: end;
  width: 60%;
  gap: 1em;
}

a:hover {
  cursor: pointer;
}


@media (max-width: 1600px) {
  main {
    width: 80%; 
  }

  .meuscursos h1 {
    font-size: 1.6em; 
  }

  .cursos p,
  .download-section {
    font-size: 1em; 
  }
}

@media (max-width: 1200px) {
  main {
    width: 90%; 
  }

  .meuscursos h1 {
    font-size: 2em; 
  }

  .cursos p,
  .download-section {
    font-size: 1em; 
  }

  .download-section {
    width: 70%; 
  }
}

@media (max-width: 800px) {
  main {
    width: 95%; 
    margin-top: 3em; 
  }

  .meuscursos h1 {
    font-size: 1.8em;
  }

  .cursos p,
  .download-section {
    font-size: 1em; 
  }

  .cursos {
    flex-direction: row; 
    display: flex;
    justify-content: space-between;
  }


  .download-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    gap: 1em; 
  }
}


@media (max-width: 450px) {
  main {
    width: 100%; 
    margin-top: 2em; 
    padding: 0 1em; 
  }

  .meuscursos h1 {
    font-size: 1.5em; 
  }

  .cursos p,
  .download-section {
    font-size: 1em; 
  }

  .cursos {
    flex-direction: row; 
    display: flex;
    justify-content: space-between;
  }

  .download-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    width: 50%; 
    gap: 1em; 
  }
}