@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #684a43;
}

body {
  font-size: 16px;
  width: 100%;
  height: 100vh;
}

body::-webkit-scrollbar {
  display: none;
}

button {
  background-color: #fff;
  border: none;
}

h1 {
  font-family: Fira Sans;
  font-weight: 700;
  font-style: italic;
  font-size: 2.5rem;
  letter-spacing: 0%;
  text-align: center;
  color: var(--primary-color);
  padding-top: 9rem;
}

.container {
  width: 80vh;
  height: 80vh;
  margin: 3rem;
}

h2 {
  font-family: Fira Sans;
  font-weight: 700;
  font-style: italic;
  font-size: 2rem;
  letter-spacing: 0%;
  color: var(--primary-color);
}

.descricao {
  font-family: Fira Sans;
  font-weight: 400;
  font-style: italic;
  font-size: 1.25rem;
  letter-spacing: 0%;
  color: #000000;
  border-bottom: 2px solid black;
  width: 40%;
}

.resumo {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: space-between;
}

.resumo form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.controlador {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
}

.info-resumo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.descricao{
  width: 70%;
}

input, select{
  border: none;
}

.save-button {
  font-family: Fira Sans;
  font-weight: 700;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
  height: 3rem;
  border-radius: 3rem;
  text-decoration: none;
  color: #ffffff;
  gap: 0.5rem;
  font-size: 1.25rem;
  color: #ffffff;
}

.save-button a {
  text-align: center;
  text-decoration: none;
  color: inherit;
}

textarea {
  min-height: 300px;
  box-shadow: 0px 0px 20px 0px rgba(191, 172, 149, 0.7) inset;
  font-family: Fira Sans;
  font-weight: 300;
  font-style: italic;
  font-size: clamp(1rem, 2vw, 1.25rem);
  padding: 1rem;
  width: 30em;
  height: 20em;
}

.btns-salvar-deletar {
    display: flex;
    justify-content: space-between;
}

.resumo form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2rem;
}

@media (max-width: 1200px) {
  .container {
    width: 100%;
    margin: 2rem;
  }

  .resumo,
  .caixa-texto {
    width: 48%;
  }

  .resumo {
    margin-left: 1rem;
  }

  .placeholder {
    font-size: 1rem;
  }
}

@media (max-width: 800px) {
  body {
    height: 100vh;
    width: 100%;
  }

  .container {
    flex-direction: column;
    align-items: center;
    height: auto;
    height: 100vh;
    width: 100%;
  }

  .resumo {
    order: 1;
    width: 100%;
    display: flex;
    gap: 2rem;
    width: 90%;
    margin-bottom: 2rem;
  }

  .info-resumo {
    width: 100%;
  }

  .caixa-texto {
    order: 2;
    height: 50%;
    width: 90%;
  }
}

@media (max-width: 450px) {
  body {
    height: 100vh;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .descricao {
    font-size: 1rem;
    width: 60%;
    
  }

  .save-button {
    width: 10rem;
    height: 2.5rem;
    font-size: 1rem;
  }

  .placeholder {
    font-size: 1rem;
  }

  .container {
    display: flex;
    margin: 2rem;
    height: 100vh;
  }

  .resumo {
    width: 100%;
    display: flex;
    gap: 2rem;
    margin-left: 10%;
  }

  .caixa-de-texto{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;

  }

  textarea {
    height: 80%;
    width: 90%;
    margin-top: 1rem;
    align-self: center;
    margin-left: 5%;
  }
}