<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cursos</title>
    <link rel="stylesheet" href="/css/a-comprar-curso.css" />
    <link rel="stylesheet" href="/css/header2.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="shortcut icon" href="/Images/favicon.ico" type="image/x-icon"/>
  </head>
  <body>
    <header>
      <a href="/aluno/a-todososcursos"><img src="/images/voltar.svg" alt=""></a>
      <input type="text" placeholder="Pequise por cursos...">
      <div>
        <p><%= user.NOME_USU || 'Aluno' %></p>
        <button class="user-icon" id="userIcon" aria-label="Abrir menu do usuário">
            <img src="/aluno/foto-perfil/<%= user.ID_USUARIO %>?v=<%= timestamp %>" alt="imagem do perfil" style="width: 48px; height: 48px; object-fit: cover; border-radius: 50%; border: 2px solid #ccc;" />
            <div class="user-config" id="userConfig">
                <ul>
                    <li><a href="/aluno/a-perfil">MENU</a></li>
                    <li><a href="/aluno/a-config">CONFIGURAÇÕES</a></li>
                    <li><a href="/aluno/logout">SAIR</a></li>
                </ul>
            </div>
        </button>
    </div>
    </header>
    <main>
      <section class="pg1-container">
        <section class="pg1">
          <h1>CONHEÇA NOSSOS</h1>
          <h2>CURSOS</h2>
          <h3>
            É aqui que a mágica acontece, adquira <br />
            habilidades novas e exercite seu intelectual.
          </h3>
        </section>
        <img src="/images/pg1-cursos.png" alt="Imagem ilustrativa de cursos" />
      </section>
      <section class="sesao">
        <h1>MAIS COMPRADOS</h1>
      </section>
      <section class="cards-container">
        <section class="cards">
          <a href="/curso/log" class="h-ref">
            <section>
              <h1>Lógica de Programação</h1>
              <h2>8 meses</h2>
            </section>
            <img src="/images/card-1.png" alt="Curso de Lógica de Programação" />
          </a>
        </section>
        <!--<section class="cards">
          <a href="/curso/python" class="h-ref">
            <section>
              <h1>Python do Zero ao Pro</h1>
              <h2>8 meses</h2>
            </section>
            <img src="/images/card-2.png" alt="Curso de Python" />
          </a>
        </section>-->
      </section>
      <section class="sesao">
        <h1>MELHORES OFERTAS</h1>
      </section>
      <!--<section class="cards-container">
        <section class="cards">
          <a href="/curso/design" class="h-ref">
            <section>
              <h1>Design Gráfico</h1>
              <h2>5 meses</h2>
            </section>
            <img src="/images/card-3.png" alt="Curso de Design Gráfico" />
          </a>
        </section>
        <section class="cards">
          <a href="/curso/photo" class="h-ref">
            <section>
              <h1>Photoshop Profissional</h1>
              <h2>8 meses</h2>
            </section>
            <img src="/images/card-4.png" alt="Curso de Photoshop" />
          </a>
        </section>
      </section>-->
      <!--<section class="cards-container">
        <section class="cards">
          <a href="/curso/foto" class="h-ref">
            <section>
              <h1>Fotografia</h1>
              <h2>8 meses</h2>
            </section>
            <img src="/images/card-5.png" alt="Curso de Fotografia" />
          </a>
        </section>
        <section class="cards">
          <a href="/curso/copy" class="h-ref">
            <section>
              <h1>Copywriting</h1>
              <h2>4 meses</h2>
            </section>
            <img src="/images/card-6.png" alt="Curso de Copywriting" />
          </a>
        </section>
      </section>-->

      <section class="aa">
        <p id="paragrafo">Ainda não há cursos...</p>
        <img src="/images/carinha-vv.svg" alt="Carinha"> 
      </section>
      
      <hr class="separador" />

      <section class="sesao">
        <h1>PRINCIPAIS CATEGORIAS</h1>
      </section>

      <section class="categorias">
        <section>
          <img src="/images/developer.png" alt="Ícone de Desenvolvimento" />
          <h1>DEVELOPER</h1>
        </section>
        <section>
          <img src="/images/marketing.png" alt="Ícone de Marketing" />
          <h1>MARKETING</h1>
        </section>
        <section>
          <img src="/images/design.png" alt="Ícone de Design" />
          <h1>DESIGN</h1>
        </section>
        <section>
          <img src="/images/fotografia.png" alt="Ícone de Fotografia" />
          <h1>FOTOGRAFIA</h1>
        </section>
        <section>
          <img src="/images/negocios.png" alt="Ícone de Negócios" />
          <h1>NEGÓCIOS</h1>
        </section>
        <section>
          <img src="/images/musica.png" alt="Ícone de Música" />
          <h1>MÚSICA</h1>
        </section>
      </section>
    </main>
    
    <%- include('../../pages/partials/footer') %>
    <script src="/js/icon-menu.js"></script>
  </body>
</html>