<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/page-metodos.css">
    <link rel="stylesheet" href="/css/header2.css">
    <link rel="shortcut icon" href="../../Images/favicon.ico" type="image/x-icon">
    <title>Minhas Menmônicas</title>
</head>
<body>
    
    <header>
        <a href="/aluno/a-bd_mnemonicas"><img src="/images/voltar.svg" alt=""></a>
        <p>MÉTODOS DE ESTUDO</p>
        <div>
            <p><%= user.NOME_USU || 'Aluno' %></p>
            <button class="user-icon" id="userIcon" aria-label="Abrir menu do usuário">
                <img src="/aluno/foto-perfil/<%= user.ID_USUARIO %>?v=<%= timestamp %>" alt="imagem do perfil" style="width: 48px; height: 48px; object-fit: cover; border-radius: 50%; border: 2px solid #ccc;" />
                <div class="user-config" id="userConfig">
                    <ul>
                        <li><a href="/aluno/a-perfil">MENU</a></li>
                        <li><a href="/aluno/a-config">CONFIGURAÇÕES</a></li>
                        <li><a href="/aluno/logout">SAIR</a></li>
                    </ul>
                </div>
            </button>
        </div>
    </header>
    
    <main>
        <h1>Título da Mnemônica</h1>
        <h2>Categoria</h2>

        <section class="conteudo">
            <section class="blank-box">
                <p>   Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.

                    It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. 
                </p>
            </section>

            <section class="gray-box">
                <img src="ex-photo.svg" alt="Foto de exemplo">
            </section>
        </section>
        
    </main>
    <script src="/js/icon-menu.js"></script>
</body>
</html>